body, html{

}

ul{
	list-style-type: none;
}

ul li{
	border: 2px solid #999;
	width:500px;
}

input{
	display: block;
}

#taskForm{
	display: inline-block;
	float:left;
}

#taskList{
	display: inline-block;
}

#date{
	float:right;
}

#taskList li button{
	float:right;
}
#taskList li {
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}

